.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    height: 100px;
    background-color:rgba(34, 139, 34, .3);
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
}

.bar, .fill {
    width: 7px;
    border-radius: 10px;
}

.month-name {
    margin: 5px 0 0;
}

.fill {
    background-color:rgb(34, 139, 34);
    width: 7px;
}
  